# Loops
- For

In [1]:
for i in range(10):
    print('Number is',i+1)

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10

# Print all even numbers between 1 to 100

In [11]:
for i in range(101):
    if i%2==0:
        print('found an even number -',i)
    else:
        print('found an odd number -',i)

found an even number - 0
found an odd number - 1
found an even number - 2
found an odd number - 3
found an even number - 4
found an odd number - 5
found an even number - 6
found an odd number - 7
found an even number - 8
found an odd number - 9
found an even number - 10
found an odd number - 11
found an even number - 12
found an odd number - 13
found an even number - 14
found an odd number - 15
found an even number - 16
found an odd number - 17
found an even number - 18
found an odd number - 19
found an even number - 20
found an odd number - 21
found an even number - 22
found an odd number - 23
found an even number - 24
found an odd number - 25
found an even number - 26
found an odd number - 27
found an even number - 28
found an odd number - 29
found an even number - 30
found an odd number - 31
found an even number - 32
found an odd number - 33
found an even number - 34
found an odd number - 35
found an even number - 36
found an odd number - 37
found an even number - 38
found an odd number - 39
found an even number - 40
found an odd number - 41
found an even number - 42
found an odd number - 43
found an even number - 44
found an odd number - 45
found an even number - 46
found an odd number - 47
found an even number - 48
found an odd number - 49
found an even number - 50
found an odd number - 51
found an even number - 52
found an odd number - 53
found an even number - 54
found an odd number - 55
found an even number - 56
found an odd number - 57
found an even number - 58
found an odd number - 59
found an even number - 60
found an odd number - 61
found an even number - 62
found an odd number - 63
found an even number - 64
found an odd number - 65
found an even number - 66
found an odd number - 67
found an even number - 68
found an odd number - 69
found an even number - 70
found an odd number - 71
found an even number - 72
found an odd number - 73
found an even number - 74
found an odd number - 75
found an even number - 76
found an odd number - 77
found an even number - 78
found an odd number - 79
found an even number - 80
found an odd number - 81
found an even number - 82
found an odd number - 83
found an even number - 84
found an odd number - 85
found an even number - 86
found an odd number - 87
found an even number - 88
found an odd number - 89
found an even number - 90
found an odd number - 91
found an even number - 92
found an odd number - 93
found an even number - 94
found an odd number - 95
found an even number - 96
found an odd number - 97
found an even number - 98
found an odd number - 99
found an even number - 100

## Print all the numbers between 1 to 100 divisible by 3

In [8]:
for i in range(101):
    if i%3==0:
        print('found number divisible by 3 -',i)

found number divisible by 3 - 0
found number divisible by 3 - 3
found number divisible by 3 - 6
found number divisible by 3 - 9
found number divisible by 3 - 12
found number divisible by 3 - 15
found number divisible by 3 - 18
found number divisible by 3 - 21
found number divisible by 3 - 24
found number divisible by 3 - 27
found number divisible by 3 - 30
found number divisible by 3 - 33
found number divisible by 3 - 36
found number divisible by 3 - 39
found number divisible by 3 - 42
found number divisible by 3 - 45
found number divisible by 3 - 48
found number divisible by 3 - 51
found number divisible by 3 - 54
found number divisible by 3 - 57
found number divisible by 3 - 60
found number divisible by 3 - 63
found number divisible by 3 - 66
found number divisible by 3 - 69
found number divisible by 3 - 72
found number divisible by 3 - 75
found number divisible by 3 - 78
found number divisible by 3 - 81
found number divisible by 3 - 84
found number divisible by 3 - 87
found number divisible by 3 - 90
found number divisible by 3 - 93
found number divisible by 3 - 96
found number divisible by 3 - 99

## Print all the numbers between 1 to 50 divisible by 7

In [9]:
for i in range(51):
    if i%7==0:
        print('Found a number divisible by 7 -',i)

Found a number divisible by 7 - 0
Found a number divisible by 7 - 7
Found a number divisible by 7 - 14
Found a number divisible by 7 - 21
Found a number divisible by 7 - 28
Found a number divisible by 7 - 35
Found a number divisible by 7 - 42
Found a number divisible by 7 - 49

In [12]:
for i in range(2000,2021,2):
    print(i)

2000
2002
2004
2006
2008
2010
2012
2014
2016
2018
2020

# Functions

In [13]:
def calculateTax(salary):
    if salary<200000:
        print('No tax need to be paid')
        print('Because salary is less than 2L')
    elif salary>200000 and salary<500000:
        tax=salary*10/100
        print('10% tax applies')
        print('Tax amount is', tax)
    else:
        tax=salary*20/100
        print('20% tax applies')
        print('Tax amount is', tax)

In [15]:
calculateTax(3000)
calculateTax(4000000)
calculateTax(200000)
calculateTax(1500000)

No tax need to be paid
Because salary is less than 2L
20% tax applies
Tax amount is 800000.0
20% tax applies
Tax amount is 40000.0
20% tax applies
Tax amount is 300000.0

In [16]:
def evenOrodd(number):
    if number%2==0:
        print('Number is even - ', number)
    else:
        print('Number is odd - ', number)

In [17]:
evenOrodd(20)
evenOrodd(21)
evenOrodd(9)
evenOrodd(87)

Number is even -  20
Number is odd -  21
Number is odd -  9
Number is odd -  87

In [24]:
def cube(number):
    Cube_number=number**3;
    print('cube of number ',number,' is ',Cube_number)

cube(78)

cube of number  78  is  474552

In [23]:
cube(3)

cube of number  3  is  27

In [25]:
def distance(speed, time):
    print('speed is ',speed)
    print('time is ', time)
    distance=speed*time
    print('distance travelled is ', distance)

In [26]:
distance(20,30)

speed is  20
time is  30
distance travelled is  600

In [39]:
def calculateBMI(height, weight):
        print('height is ', height)
        print('weight is ', weight)
        BMI= weight/(height**2)
        print('BMI is',BMI)

        if BMI<=18.5:
            print('Under Weight')
        elif BMI>18.5 and BMI<=25:
            print('Normal')
        elif BMI>25 and BMI<=30:
            print('Over Weight')
        else:
            print('Obese')
            
calculateBMI(1,18.8)

height is  1
weight is  18.8
BMI is 18.8
Normal

In [41]:
calculateBMI(2,80)

height is  2
weight is  80
BMI is 20.0
Normal

In [48]:
def convertfttocm(feet):
    print('Given Feet value is ', feet)
    cm=30.48*feet
    print('value in Cms ', cm)
    
convertfttocm(2)

Given Feet value is  2
value in Cms  60.96

In [43]:
convertfttocm(2)

Given Feet value is  2
value in Cms  60.96

In [49]:
def convertfttocm(feet):
    cm=30.48*feet
    return cm
    
value_in_cm=convertfttocm(2)
print('returned value ',value_in_cm)

returned value  60.96

In [56]:
def calculateBMI(height, weight):
        BMI= weight/(height**2)

        if BMI<=18.5:
            result='Under Weight'
        elif BMI>18.5 and BMI<=25:
            result='Normal'
        elif BMI>25 and BMI<=30:
            result='Over Weight'
        else:
            result='Obese'
        return result
            
returned_BMI=calculateBMI(1,1.8)
print('returned BMI is ', returned_BMI)

returned BMI is  Under Weight

In [61]:
def avg(a,b):
    c=(a+b)/2
    return c

result=avg(30,30)
print('Average is ', result)

Average is  30.0

In [75]:
def Grade(percentage):
    if percentage>75:
            result='Distinction'
    elif percentage>50 and percentage<=75:
            result='Pass'
    else:
            result='Fail'
    return result
    
grade_result=Grade(90)
print('Grade obtained is ',grade_result)

Grade obtained is  Distinction

In [77]:
def Grade(percentage):
    if percentage <0 :
        result='Invalid percentage, Percentage cannot be negative'
    elif percentage >100:
        result='Invalid percentage, Percentage cannot exceed 100'       
    elif percentage>75:
            result='Distinction'
    elif percentage>50 and percentage<=75:
            result='Pass'
    else:
            result='Fail'
    return result
    
grade_result=Grade(-900)
print('Grade obtained is ',grade_result)

Grade obtained is  Invalid percentage, Percentage cannot be negative