In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\Shayeda\\Documents\\DATAMITES CDS\\Datasets\\car_evaluation.csv')
df

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [3]:
df.shape

(1728, 7)

In [4]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [5]:
df.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [6]:
df.buying.value_counts()

high     432
low      432
vhigh    432
med      432
Name: buying, dtype: int64

In [7]:
df.maint.value_counts()

high     432
low      432
vhigh    432
med      432
Name: maint, dtype: int64

In [8]:
df.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [9]:
df.doors.value_counts()

2    432
3    432
4    432
5    432
Name: doors, dtype: int64

In [10]:
df.safety.value_counts()

high    576
low     576
med     576
Name: safety, dtype: int64

In [11]:
df.persons.value_counts()

4    585
2    576
6    567
Name: persons, dtype: int64

In [12]:
df.lug_boot.value_counts()

small    576
big      576
med      576
Name: lug_boot, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

# Label Encoding
- convert strings into int

# STEPS
- List all the unique values 
- Sort them in an order
- Assign an integer

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [16]:
df.buying= le.fit_transform(df.buying)

In [17]:
df.safety= le.fit_transform(df.safety)

In [18]:
df.lug_boot= le.fit_transform(df.lug_boot)

In [19]:
df.maint= le.fit_transform(df.maint)

In [20]:
df

      buying  maint  doors  persons  lug_boot  safety outcome
0          3      3      2        2         2       1   unacc
1          3      3      2        2         2       2   unacc
2          3      3      2        2         2       0   unacc
3          3      3      2        2         1       1   unacc
4          3      3      2        2         1       2   unacc
...      ...    ...    ...      ...       ...     ...     ...
1723       1      1      5        6         1       2    good
1724       1      1      5        6         1       0   vgood
1725       1      1      5        6         0       1   unacc
1726       1      1      5        6         0       2    good
1727       1      1      5        6         0       0   vgood

[1728 rows x 7 columns]

In [22]:
X=df.iloc[:,:-1]

In [23]:
Y=df.outcome

# Train Test split

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, random_state=32)

# Train KNN Model
- from sklearn.neighbors import KNeighborsClassifier - Categorical targets 
- from sklearn.neighbors import KNeighborsRegressor  - Continous targets

In [41]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, Y_train)

KNeighborsClassifier()

In [42]:
from sklearn.metrics import accuracy_score, classification_report
Y_predict=model.predict(X_test)
accuracy_score(Y_test, Y_predict)

0.9219653179190751

In [43]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, Y_predict)

array([[ 69,   0,   8,   0],
       [  8,   4,   0,   0],
       [  4,   0, 241,   0],
       [  7,   0,   0,   5]], dtype=int64)

In [44]:
pd.crosstab(Y_test, Y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       69     0      8      0
good       8     4      0      0
unacc      4     0    241      0
vgood      7     0      0      5

In [45]:
Y_predict

array(['unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'good',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood',
       'unacc', 'unacc', 'acc', 'acc', 'unacc', 'acc', 'unacc', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'acc', 'vgood', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc',
       'acc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'acc', 'unacc',
       'acc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'acc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'good', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'good', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'vgood', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'acc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'good', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'acc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'acc',
       'acc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'acc',
       'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'acc', 'acc', 'acc', 'unacc', 'unacc', 'acc', 'unacc',
       'acc', 'acc', 'unacc', 'unacc', 'acc', 'acc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc'], dtype=object)

In [46]:
Y_test

351     unacc
625     unacc
1243    unacc
1245    unacc
995       acc
        ...
1401    unacc
458     unacc
1473    unacc
133     unacc
1276    unacc
Name: outcome, Length: 346, dtype: object

In [58]:
Y_predict[0:5]

array(['unacc', 'unacc', 'unacc', 'unacc', 'unacc'], dtype=object)

In [59]:
print(classification_report(Y_test, Y_predict))

              precision    recall  f1-score   support

         acc       0.78      0.90      0.84        77
        good       1.00      0.33      0.50        12
       unacc       0.97      0.98      0.98       245
       vgood       1.00      0.42      0.59        12

    accuracy                           0.92       346
   macro avg       0.94      0.66      0.73       346
weighted avg       0.93      0.92      0.91       346