In [1]:
! pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\shayeda\anaconda3\lib\site-packages (from imbalanced-learn) (1.20.1)
Requirement already satisfied: joblib>=0.11 in c:\users\shayeda\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\shayeda\anaconda3\lib\site-packages (from imbalanced-learn) (1.6.2)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\shayeda\anaconda3\lib\site-packages (from imbalanced-learn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shayeda\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn) (2.1.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.8.0

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('C:\\Users\\Shayeda\\Documents\\DATAMITES CDS\\Datasets\\car_evaluation.csv')
df

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df.buying= le.fit_transform(df.buying)

In [7]:
df.safety= le.fit_transform(df.safety)

In [8]:
df.lug_boot= le.fit_transform(df.lug_boot)

In [9]:
df.maint= le.fit_transform(df.maint)

In [10]:
df

      buying  maint  doors  persons  lug_boot  safety outcome
0          3      3      2        2         2       1   unacc
1          3      3      2        2         2       2   unacc
2          3      3      2        2         2       0   unacc
3          3      3      2        2         1       1   unacc
4          3      3      2        2         1       2   unacc
...      ...    ...    ...      ...       ...     ...     ...
1723       1      1      5        6         1       2    good
1724       1      1      5        6         1       0   vgood
1725       1      1      5        6         0       1   unacc
1726       1      1      5        6         0       2    good
1727       1      1      5        6         0       0   vgood

[1728 rows x 7 columns]

In [11]:
X=df.iloc[:,:-1]

In [12]:
Y=df.outcome

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, random_state=32)

In [14]:
from imblearn.over_sampling import SMOTE

In [15]:
sm=SMOTE(random_state=14)

In [16]:
X_train_SMOTE, Y_train_SOMTE=sm.fit_resample(X_train, Y_train)

In [17]:
Y_train.value_counts()

unacc    965
acc      307
good      57
vgood     53
Name: outcome, dtype: int64

In [18]:
Y_train_SOMTE.value_counts()

unacc    965
good     965
acc      965
vgood    965
Name: outcome, dtype: int64

In [19]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train_SMOTE, Y_train_SOMTE)

KNeighborsClassifier()

In [20]:
from sklearn.metrics import accuracy_score, classification_report
Y_predict=model.predict(X_test)
accuracy_score(Y_test, Y_predict)

0.7283236994219653

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, Y_predict)

array([[ 56,  14,   3,   4],
       [  2,  10,   0,   0],
       [ 60,   4, 178,   3],
       [  4,   0,   0,   8]], dtype=int64)

In [22]:
pd.crosstab(Y_test, Y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       56    14      3      4
good       2    10      0      0
unacc     60     4    178      3
vgood      4     0      0      8

In [23]:
print(classification_report(Y_test, Y_predict))

              precision    recall  f1-score   support

         acc       0.46      0.73      0.56        77
        good       0.36      0.83      0.50        12
       unacc       0.98      0.73      0.84       245
       vgood       0.53      0.67      0.59        12

    accuracy                           0.73       346
   macro avg       0.58      0.74      0.62       346
weighted avg       0.83      0.73      0.75       346