In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('car_evaluation.csv')

In [3]:
df

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [7]:
df.buying=le.fit_transform(df.buying)

In [8]:
df.maint=le.fit_transform(df.maint)

In [9]:
df.lug_boot=le.fit_transform(df.lug_boot)

In [10]:
df.safety=le.fit_transform(df.safety)

In [11]:
df

      buying  maint  doors  persons  lug_boot  safety outcome
0          3      3      2        2         2       1   unacc
1          3      3      2        2         2       2   unacc
2          3      3      2        2         2       0   unacc
3          3      3      2        2         1       1   unacc
4          3      3      2        2         1       2   unacc
...      ...    ...    ...      ...       ...     ...     ...
1723       1      1      5        6         1       2    good
1724       1      1      5        6         1       0   vgood
1725       1      1      5        6         0       1   unacc
1726       1      1      5        6         0       2    good
1727       1      1      5        6         0       0   vgood

[1728 rows x 7 columns]

In [12]:
X=df.iloc[:,:-1]

In [13]:
y=df.outcome

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
model=RandomForestClassifier(n_estimators=100,criterion='entropy')

In [25]:
model.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy')

In [26]:
from sklearn.metrics import accuracy_score, classification_report

In [27]:
y_predict=model.predict(X_test)
accuracy_score(y_test, y_predict)

0.9884393063583815

In [28]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       1.00      0.96      0.98        81
        good       0.85      0.92      0.88        12
       unacc       1.00      1.00      1.00       238
       vgood       0.94      1.00      0.97        15

    accuracy                           0.99       346
   macro avg       0.94      0.97      0.96       346
weighted avg       0.99      0.99      0.99       346

In [29]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       78     2      1      0
good       0    11      0      1
unacc      0     0    238      0
vgood      0     0      0     15