In [ ]:
! conda install -y -c conda-forge xgboost

In [1]:
from xgboost import XGBClassifier

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('car_evaluation.csv')

In [4]:
df

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

# Ordinal Encoding

In [5]:
df_oe=df.copy()

In [6]:
df_oe

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        6      med    med    good
1724    low    low      5        6      med   high   vgood
1725    low    low      5        6      big    low   unacc
1726    low    low      5        6      big    med    good
1727    low    low      5        6      big   high   vgood

[1728 rows x 7 columns]

In [7]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [8]:
dict_1={'low':0,'med':1,'high':2,'vhigh':3}

In [9]:
df_oe.buying=df_oe.buying.map(dict_1)

In [10]:
df_oe.maint=df_oe.maint.map(dict_1)

In [11]:
dict_2={'small':0,'med':1,'big':2}

In [12]:
df_oe.lug_boot=df_oe.lug_boot.map(dict_2)

In [13]:
df_oe.safety=df_oe.safety.map(dict_1)

In [14]:
df_oe

      buying  maint  doors  persons  lug_boot  safety outcome
0          3      3      2        2         0       0   unacc
1          3      3      2        2         0       1   unacc
2          3      3      2        2         0       2   unacc
3          3      3      2        2         1       0   unacc
4          3      3      2        2         1       1   unacc
...      ...    ...    ...      ...       ...     ...     ...
1723       0      0      5        6         1       1    good
1724       0      0      5        6         1       2   vgood
1725       0      0      5        6         2       0   unacc
1726       0      0      5        6         2       1    good
1727       0      0      5        6         2       2   vgood

[1728 rows x 7 columns]

In [15]:
from sklearn.model_selection import train_test_split

In [18]:
X=df_oe.iloc[:,:-1]

In [19]:
X

      buying  maint  doors  persons  lug_boot  safety
0          3      3      2        2         0       0
1          3      3      2        2         0       1
2          3      3      2        2         0       2
3          3      3      2        2         1       0
4          3      3      2        2         1       1
...      ...    ...    ...      ...       ...     ...
1723       0      0      5        6         1       1
1724       0      0      5        6         1       2
1725       0      0      5        6         2       0
1726       0      0      5        6         2       1
1727       0      0      5        6         2       2

[1728 rows x 6 columns]

In [20]:
y=df_oe.outcome

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=50)

In [22]:
model=XGBClassifier()

In [23]:
model.fit(X_train,y_train)

C:\Users\Shayeda\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[21:05:42] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [24]:
from sklearn.metrics import classification_report, accuracy_score

In [25]:
y_predict=model.predict(X_test)

In [26]:
accuracy_score(y_test,y_predict)

0.9913294797687862

In [28]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

         acc       0.99      0.97      0.98        68
        good       0.86      1.00      0.92        12
       unacc       1.00      1.00      1.00       252
       vgood       1.00      0.93      0.96        14

    accuracy                           0.99       346
   macro avg       0.96      0.97      0.97       346
weighted avg       0.99      0.99      0.99       346

In [31]:
y_predict_train=model.predict(X_train)

In [32]:
accuracy_score(y_train,y_predict_train)

1.0